<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Facturación - Dermopiel</title>
</head>
<body>

<h1>Facturación DERMOPIEL</h1>

<table border="1">
    <tr>
        <th>ID Factura</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Servicio</th>
        <th>Fecha</th>
        <th>Total</th>
    </tr>

    {% for factura in facturas %}
    <tr>
        <td>{{ factura.id_factura }}</td>
        <td>{{ factura.nombres }}</td>
        <td>{{ factura.apellidos }}</td>
        <td>{{ factura.nombre_servicio }}</td>
        <td>{{ factura.fecha }}</td>
        <td>{{ factura.total }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>